In [70]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [71]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1083,tt0325980,140000000,655011224,Pirates of the Caribbean: The Curse of the Bla...,Johnny Depp|Geoffrey Rush|Orlando Bloom|Keira ...,Gore Verbinski,Prepare to be blown out of the water.,"Jack Sparrow, a freewheeling 17th-century pira...",143,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films,7/9/2003,7.3,2003
1383,tt0342258,45000000,50871113,Unleashed,Jet Li|Morgan Freeman|Bob Hoskins|Vincent Rega...,Louis Leterrier,Serve No Master,"Raised as a slave, Danny is used to fighting f...",103,Action|Crime,Canal Plus|Current Entertainment|Clubdeal|TF1 ...,2/2/2005,6.5,2005
782,tt0810913,79000000,149673788,Jack and Jill,Adam Sandler|Katie Holmes|Al Pacino|Eugenio De...,Dennis Dugan,His twin sister is coming for the holidays... ...,"Jack Sadelstein, a successful advertising exec...",91,Comedy,Columbia Pictures|Happy Madison Productions|Br...,11/11/2011,4.2,2011
709,tt1213644,25000000,14109284,Disaster Movie,Matt Lanter|Vanessa Lachey|Nicole Ari Parker|C...,Jason Friedberg|Aaron Seltzer,Your favorite movies are going to be destroyed.,"In DISASTER MOVIE, the filmmaking team behind ...",87,Action|Comedy,Grosvenor Park Media Ltd.|LionsGate|3 in the Box,8/29/2008,3.3,2008
1309,tt2167202,18000000,10501938,Getaway,Ethan Hawke|Selena Gomez|Jon Voight|Paul Freem...,Courtney Solomon,Get in. Get out. Getaway.,Former race car driver Brent Magna (Hawke) is ...,90,Action|Crime,Dark Castle Entertainment|Signature Pictures|A...,8/29/2013,5.0,2013

In [72]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [73]:
answers = {} # создадим словарь для ответов

# добавим столбец profit в датафрейм
data['profit'] = data['revenue'] - data['budget'] # посчитаем прибыль фильмов
data.append(data['profit']) # добавим стобец с прибылью в датафрейм

# функция счетчик для разделения слитых позиций
def counter(df, x): 
    joined = df[x].str.cat(sep='|') # склеиваем все значения столбца в строку для приведения к единому виду
    splited = pd.Series(joined.split('|')) # разделяем значения и кладем в Series
    counted = splited.value_counts(ascending=False)
    return counted

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [74]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [75]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [76]:
data.loc[data.budget.sort_values(ascending = False).keys()[0]]

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                                    5/11/2011
vote_average                                                          6.3
release_year                                                         2011
profit                                                          641683000
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [77]:
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [78]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [79]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [80]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [81]:
answers['4'] = 110

In [82]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [83]:
answers['5'] = 107

In [84]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [85]:
answers['6'] = '239. Avatar (tt0499549)'

In [86]:
# добавление столбца profit в блоке предобработки
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [87]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [88]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [89]:
answers['8'] = 1478

In [90]:
len(data.query('profit > 0'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [91]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [92]:
data[data.profit == data[data.release_year == 2008].profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [93]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [94]:
data[data.profit == data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [95]:
answers['11'] = 'Drama'

In [96]:
counter(data,'genres').keys()[0]

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [97]:
answers['12'] = 'Drama'

In [98]:
#разделяем скленные жанры по | и передаем в новый датафрейм
pd.DataFrame(data[data.profit > 0].genres.str.split('|').tolist()).stack().value_counts().keys()[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [99]:
answers['13'] = 'Peter Jackson'

In [100]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).keys()[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [101]:
answers['14'] = 'Robert Rodriguez'

In [102]:
action_films = data[data['genres'].map(lambda x: True if 'Action' in x else False)]
counter(action_films,'director').keys()[0] # передаем в функцию счетчик (код в предобработке)

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [103]:
answers['15'] = 'Chris Hemsworth'

In [104]:
films2012 = pd.DataFrame(data[data.release_year == 2012]).reset_index()
actors = pd.DataFrame(films2012['cast'].str.split('|').tolist()).stack().to_frame().reset_index()
actors.columns = ['index', 'index_1', 'name']
films2012_revenue = films2012['revenue'].reset_index()
final = actors.merge(films2012_revenue, on = 'index', how = 'left')
final[['name', 'revenue']].groupby('name')[['revenue']].sum().sort_values('revenue', ascending = False).head(1)

                    revenue
name
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [105]:
answers['16'] = 'Matt Damon'

In [106]:
counter(data[data['budget'] > data.budget.mean()],'cast').keys()[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [107]:
answers['17'] = 'Action'

In [108]:
NC_films = data[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)]
counter(NC_films,'genres').keys()[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [109]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

In [110]:
PP_films = data[data['production_companies'].map(lambda x: True if 'Paramount Pictures' in x else False)]
PP_films[PP_films.profit == PP_films.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [111]:
answers['19'] = 2015

In [112]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).keys()[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [113]:
answers['20'] = 2014

In [114]:
WB_films = data[data.production_companies.map(lambda x: True if 'Warner Bros' in x else False)]
WB_films.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).keys()[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [115]:
answers['21'] = 'Сентябрь'

In [116]:
df_month = pd.DataFrame(data.release_date.str.split('/',2).map((lambda x: x[0])))
df_month.release_date.value_counts().keys()[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [117]:
answers['22'] = 450

In [118]:
df_month = pd.DataFrame(data.release_date.str.split('/',2).map((lambda x: x[0])))
data[df_month.release_date.isin(['6','7','8'])].release_date.value_counts().sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [119]:
answers['23'] = 'Peter Jackson'

In [120]:
df_month = pd.DataFrame(data.release_date.str.split('/',2).map(lambda x: x[0]))
df_month['director'] = data['director']
winter = df_month[df_month.release_date.isin(['1','2','12'])]
counter(winter,'director').keys()[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [121]:
answers['24'] = 'Four By Two Productions'

In [122]:
data['title_lenght'] = pd.DataFrame(data.original_title.map(lambda x: len(x)))
new_data = pd.DataFrame(data['production_companies'].str.split('|').tolist()).stack().to_frame().reset_index()
new_data.columns = ['index', 'index_1', 'company']
data_1 = data.reset_index()
data_join = data_1.merge(new_data, on = 'index', how = 'left')
data_join[['company', 'title_lenght']].groupby('company').mean().sort_values('title_lenght', ascending = False).head(1)

                         title_lenght
company
Four By Two Productions          83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [123]:
answers['25'] = 'Four By Two Productions'

In [124]:
data['overview_lenght'] = pd.DataFrame(data.overview.map(lambda x: len(x)))
new_data = pd.DataFrame(data['production_companies'].str.split('|').tolist()).stack().to_frame().reset_index()
new_data.columns = ['index', 'index_1', 'company']
data_1 = data.reset_index()
data_join = data_1.merge(new_data, on = 'index', how = 'left')
data_join[['company', 'overview_lenght']].groupby('company').mean().sort_values('overview_lenght', ascending = False).head(1)

                       overview_lenght
company
Midnight Picture Show           1000.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [125]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [126]:
top1p = data[['original_title','vote_average']].sort_values('vote_average', ascending = False).head(round(len(data.index)/100))
input_str = input()
test = input_str.split(', ')
test_count = 0
for i in range(0,len(test)):
    for j in range(0,len(top1p)):
        if test[i] in top1p.original_title.iloc[j]: 
            test_count += 1
        else: 
            continue
if test_count == len(test):
    print('Эти фильмы входят в 1 процент лучших по рейтингу')
else: print('Эти фильмы НЕ входят в 1 процент лучших по рейтингу')

Inside Out, The Dark Knight, 12 Years a Slave
Эти фильмы входят в 1 процент лучших по рейтингу

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [131]:
answers['27'] = 'Daniel Radcliffe Rupert Grint'

In [134]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list = []
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(1).keys()[0]

'Daniel Radcliffe Rupert Grint'

# Submission

In [132]:
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Four By Two Productions',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe Rupert Grint'}

In [130]:
len(answers)

27